.Weather{
    &__main{
        max-width: 33vw;
        margin: 13vh auto;
        font-weight: 700;
        // font-size: 2em;
        font-size: calc(30px + (16 + (16 * 0.75)) *((100vw - 320px) / 1280));
        // font-size: 4em;
        transform: scale(3);
        text-shadow: 0px 3px 3px #555;
    }
    &__sky{
        font-size: calc(16px + (10 * 0.75) *((100vw - 320px) / 1280));
        // font-size: 2em;
        text-shadow: 0px 3px 3px #555;
        margin: .5vh 0;
    }
    &__temp{
        font-size: calc(16px + (10 * 0.75) *((100vw - 320px) / 1280));
        // font-size: 2.2em;
    }
}