.Title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    &__main{
        font-size: 26px;
        color: #dadada;
    }
    &__subtitle{
        font-size: 18px;
        color: #dadada;

    }
}