.Title {
  margin: 7vh 0;
}

.Title__main {
  margin: 1vh 0;
  font-size: calc(20px + (16 *((100vw - 320px) / 1280)));
  color: #dadada;
}

.Title__subtitle {
  font-size: calc(16px + (10 * 0.75) *((100vw - 320px) / 1280));
  color: #dadada;
}
