.Search__list {
  position: fixed;
  width: calc(100vw - 37px);
  margin: 0 10px;
}

.Search__list::after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  border-radius: 0 0 45px 0;
  width: calc(100vw - 37px);
  background: linear-gradient(180deg, #9d4ec2 0%, yellow 35%);
}

.Search__item {
  background: #adaada;
  padding: 5px 20px;
  font-size: .9em;
  color: #444;
  border-bottom: 1px solid #666;
  cursor: pointer;
  transition: all .8s ease;
}

.Search__item:hover {
  background: #9797bb;
  color: #000;
}

.item__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 767px) {
  .Search__list {
    width: calc(50vw - 17px);
    position: relative;
    left: -8.5px;
    margin: 0 auto;
  }
  .Search__list::after {
    height: 5px;
    width: calc(50vw - 17px);
  }
  .item__block {
    width: 50%;
  }
}
